form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 700px;
  /* Form outline */
  padding: 1em;
  border: 2px solid rgb(197, 219, 230);
  border-radius: 1em;
  background-image: url("bg-01.jpg");
  
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}