

body {font-family:Arial, Sans-Serif;}


.clearfix:after { clear: both; }
a {color:hsl(231, 93%, 53%); text-decoration:none;}
a:hover {text-decoration:underline;}
input[type='submit']{padding: 10px 25px 8px; color: #fff; background-color: #0f56f0; text-shadow: rgba(0,0,0,0.24) 0 1px 0; font-size: 16px; box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; border: 1px solid #0164a5; border-radius: 2px; margin-top: 10px; cursor:pointer;}
input[type='submit']:hover {background-color: #780233;}